<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GPT CoBuilder</title>
    <link rel="stylesheet" href="css/body.css" />
    <link rel="stylesheet" href="css/input.css" />
    <link rel="stylesheet" href="css/tabs.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/error.css" />
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/generate.css" />
  </head>
  <body>
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Settings')">Settings</button>
      <button class="tablinks firstOpen" onclick="openTab(event, 'Inputs')">Human Inputs</button>
      <button class="tablinks" onclick="openTab(event, 'CustomWorkflows')">Custom Workflows</button>
      <button class="tablinks" onclick="openTab(event, 'Outputs')">Saved GPT Outputs</button>
      <button class="tablinks" onclick="openTab(event, 'Requests')">Requests</button>
      <button class="tablinks" id="add-tab-button">+</button>
    </div>

    <div id="Settings" class="tabcontent"></div>
    <div id="Inputs" class="tabcontent"></div>
    <div id="Outputs" class="tabcontent"></div>
    <div id="Requests" class="tabcontent"></div>
    <div id="CustomWorkflows" class="tabcontent"></div>

    <div id="tabNameModal" class="modal">
        <div class="modal-content">
            <label for="tabNameInput">Name of the tab:</label>
            <input type="text" id="tabNameInput" />
            <button id="submitTabNameButton">Submit</button>
        </div>
    </div>

    <div id="requestDetailsModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Request Details</h2>
        <p id="modal-apiKey"></p>
        <p id="modal-model"></p>
        <p id="modal-role"></p>
        <label for="modal-requestContent">Request Content:</label>
        <textarea id="modal-requestContent" rows="5" readonly></textarea>
        <label for="modal-responseContent">Response Content:</label>
        <textarea id="modal-responseContent" rows="5" readonly></textarea>
        <p id="modal-cost"></p>
      </div>
    </div>

    <!-- Classes -->
    <script src="classes/Constants.js"></script>
    <script src="classes/AgentTabCreator.js"></script>
    <script src="classes/InputGetter.js"></script>
    <script src="classes/HtmlElementCreator.js"></script>
    <script src="classes/Agent.js"></script>
    <script src="classes/FileListController.js"></script>
    <script src="classes/SavedOutputs.js"></script>
    <script src="classes/PaginatedTable.js"></script>
    <script src="classes/CustomWorkflows.js"></script>

    <!-- Tab dependencies -->
    <script src="workflows.js"></script>
    <script src="gitGuard.js"></script>

    <!-- Tabs -->
    <script src="tabs/SettingsTab.js"></script>
    <script src="tabs/HumanInputsTab.js"></script>
    <script src="tabs/CustomWorkflowsTab.js"></script>
    <script src="tabs/RequestsTab.js"></script>
    <script src="tabs/OutputsTab.js"></script>

    <!-- Other -->
    <script src="apiOperations.js"></script>
    <script src="fileOperations.js"></script>
    <script src="fileResponseParsing.js"></script>
    <script src="tabOperations.js"></script>
    <script src="savedOutputsEventListeners.js"></script>
    <script src="agents.js"></script>
    <script src="modalOperations.js"></script>
    <script src="generate.js"></script>
  </body>
</html>
