<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GPT CoBuilder</title>
    <link rel="stylesheet" href="generate.css" />
  </head>
  <body>
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Settings')">Settings</button>
      <button class="tablinks firstOpen" onclick="openTab(event, 'Inputs')">Human Inputs</button>
      <button class="tablinks" onclick="openTab(event, 'Outputs')">Saved GPT Outputs</button>
      <button class="tablinks" id="add-tab-button">+</button>
    </div>
    
    <!-- Tab content -->
    <div id="Settings" class="tabcontent">
      <!-- Input field for ChatGPT API key -->
      <label for="api-key">ChatGPT API Key:</label>
      <input type="text" id="api-key" />

      <!-- Input field for folder selection -->
      <label for="folder-selection">Select a Folder:</label>
      <button id="folder-selection">Project folder</button>
      <!-- Display Selected Folder -->
      <span id="folder-display"></span>
      
      <!-- Dropdown for selecting a model -->
      <label for="model-selection">Select a model:</label>
      <select id="model-selection">
          <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
          <option value="gpt-3.5-turbo-16k">gpt-3.5-turbo-16k</option>
          <option value="gpt-4">gpt-4</option>
          <option value="gpt-4-32k">gpt-4-32k</option>
      </select>
    </div>

    <div id="Inputs" class="tabcontent">
      <!-- Textarea for project description -->
      <label for="project-description">Project Description:</label>
      <textarea id="project-description" rows="5">This is an electron project that aims to let users quickly create and iterate on applications.</textarea>
      
      <!-- Input field for user message -->
      <label for="user-change-request">User change request</label>
      <textarea id="user-change-request" rows="5" ></textarea>
    </div>

    <div id="Outputs" class="tabcontent">
      <div id="saved-outputs-container">
      </div>

      <div id="custom-buttons">
        <!-- Button to apply files automatically -->
        <button class="button" id="apply-button">Apply generated file changes</button>
      </div>
    </div>
    
    <!-- Add Modal for tab naming -->
    <div id="tabNameModal" class="modal">
        <div class="modal-content">
            <label for="tabNameInput">Name of the tab:</label>
            <input type="text" id="tabNameInput" />
            <button id="submitTabNameButton">Submit</button>
        </div>
    </div>

    <!-- Classes -->
    <script src="Agent.js"></script>
    <script src="FileListController.js"></script>
    <script src="SavedOutputs.js"></script>

    <!-- Operations -->
    <script src="apiOperations.js"></script>
    <script src="fileOperations.js"></script>
    <script src="fileResponseParsing.js"></script>
    <script src="tabOperations.js"></script>
    <script src="eventListeners.js"></script>
    <script src="agents.js"></script>
    <script src="modalOperations.js"></script>
    <script src="generate.js"></script>
  </body>
</html>
