<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GPT CoBuilder</title>
    <link rel="stylesheet" href="css/body.css" />
    <link rel="stylesheet" href="css/input.css" />
    <link rel="stylesheet" href="css/tabs.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/error.css" />
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/generate.css" />
  </head>
  <body>
    <div class="tab">
      <button class="tablinks" data-tab-name="NewProject">📝 New Project</button>
      <button class="tablinks" data-tab-name="CustomAgentRequest">🎨 Custom agent request</button>
      <button class="tablinks" data-tab-name="Settings">⚙️ Settings</button>
    </div>
    <div class="tab">
      <button class="tablinks" data-tab-name="Requests">📜 Requests log</button>
      <button class="tablinks" data-tab-name="ActiveRequests">💬 Active requests</button>
      <button class="tablinks firstOpen" data-tab-name="UserChangeRequests">User change requests</button>
      <button class="tablinks" data-tab-name="HighLevelChangeRequests">High level change requests</button>
      <button class="tablinks" data-tab-name="FilechangesProposals">File changes proposals</button>
    </div>
    <div class="tab agentsbuttons">
      <button id="AddNewAgent">🤖 Add new agent</button>
    </div>
    

    <div id="Settings" class="tabcontent"></div>
    <div id="Inputs" class="tabcontent"></div>
    <div id="Requests" class="tabcontent"></div>
    <div id="ActiveRequests" class="tabcontent"></div>
    <div id="UserChangeRequests" class="tabcontent"></div>
    <div id="HighLevelChangeRequests" class="tabcontent"></div>
    <div id="FilechangesProposals" class="tabcontent"></div>
    <div id="NewProject" class="tabcontent"></div>
    <div id="CustomAgentRequest" class="tabcontent"></div>

    <div id="requestDetailsModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Request Details</h2>
        <p id="modal-model"></p>
        <label for="modal-requestContent">Request Content:</label>
        <textarea id="modal-requestContent" rows="10" readonly></textarea>
        <label for="modal-responseContent">Response Content:</label>
        <textarea id="modal-responseContent" rows="10" readonly></textarea>
        <p id="modal-cost"></p>
      </div>
    </div>

    <div class="modals"></div>

    <script>
      $ = document.querySelector.bind(document);
      $$ = document.querySelectorAll.bind(document);
    </script>

    <script src="gitGuard.js" type="module"></script>

    <!-- Tabs -->
    <script src="tabs/AgentTab.js" type="module"></script>
    <script src="tabs/SettingsTab.js" type="module"></script>
    <script src="tabs/RequestsTab.js" type="module"></script>
    <script src="tabs/ActiveRequestsTab.js" type="module"></script>
    <script src="tabs/UserChangeRequestsTab.js" type="module"></script>
    <script src="tabs/HighLevelChangeRequestsTab.js" type="module"></script>
    <script src="tabs/FilechangesProposalsTab.js" type="module"></script>
    <script src="tabs/NewProjectTab.js" type="module"></script>

    <!-- Other -->
    <script src="agents.js" type="module"></script>
    <script src="tabOperations.js" type="module"></script>
    <script src="modals/requestDetailsModal.js" type="module"></script>
    <script src="modals/addNewAgentModal.js" type="module"></script>
  </body>
</html>
