.file-entry label {
  margin-top:0;
  display: inline-block;
  color: #495057;
}

#generated-message-div {
  display:none;
}

#token-count {
  margin-top: 10px;
  font-size: 14px;
  color: #828282;
}
