table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

th, td {
    position:relative;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


table.wide-first-child td:first-child {
    width:100%;
}

table.wide-first-child td:first-child textarea {
    position:absolute;
    bottom:5px;
    right:5px;
    top:5px;
    left:5px;
    width:initial;
    z-index:1;
}

th {
    background-color: #f2f2f2;
    color: black;
}

table .button  {
    margin:1em;
}